<div class="jumbotron">
  <h2>Hello, Pathfinders!</h2>
  <p>Export a single hero as a xml file from HeroLab. Import your file and turn it into json. Take that json to crobi's rpg card generator to print your custom pathfinder character deck. <%= link_to "Get started", new_user_session_path %>.</p>
</div>