<div style="padding-top:30px">
</div>
<div class="jumbotron">
<h2>Greetings Fellow Adventurers!</h2>
<p>
  In Fall 2015 a close friend invited me to play Pathfinder with his buddies and it changed my life for the better. We all live in different cities and states, so managing our sessions and sharing notes is easier said than done. 
</p>
<p>
  <a href="http://www.roll20.net" target="new">Roll20</a>, <a href="http://www.dropbox.com" target="new">DropBox</a>, <a href="http://www.wolflair.com/index.php?context=hero_lab" target="new">HeroLab</a>, and handwritten notes are all great, I highly recommend them, but there had to be a better way of keeping all this info in one place!
</p>
<p align="center">
  <b>I couldn't find it, so I built it and now I get to share it with you!</b>
</p>
<p>
  Here's an idea of how CampaignManager can help you:
</p>
<ul>
  <li><p>Create a campaign and invite your players.</p></li>
  <li><p>Schedule your next session and send automatic email reminders.</p></li>
  <li><p>Take detailed notes with an easy-to-use HTML editor.</p></li>
    <ul>
      <li><p>Narrative or notes à la <a href="http://www.peldor.com/">Peldor</a> or traditional ones.</p></li>
      <li><p>Share your story with the world!</p></li>
    </ul>
  <li><p>Turn your HeroLab XML file into a deck of cards (Pathfinder characters only for now).</p></li>
</ul>
<p>
  CampaignManager is very much a work in progress and I would love your feedback. Shoot me an <a href="mailto:kyle.sponheim@gmail.com?Subject=CampaignManager%20Suggestion" target="_top">email</a> with suggestions or bugs.
</p>
<div align="center">
  <span><h4>Consider making a contribution</h4></span>
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-label="Donate $5.00"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Your donations keep this project alive"
            data-amount="500"
            data-panel-label="Donate"
            data-locale="auto"></script>
  <% end %>
</div>
</div>