<h1>Notes for <%= Campaign.find(params[:campaign_id]).name %></h1>
<div class="container">
<%= @campaign_notes.find_each do |n| %>
  <div class="well">
    <p><%= link_to(n.name, campaign_campaign_note_path(id: n.id)) %></p>
    <p><%= n.content %></p>
  </div>
<% end %>
</div>